/* The device with borders */
.

.videobox {
    margin-top: 50px;
}

/* The horizontal line on the top of the device */




#video {
    position: absolute;
    top: 0.1px;
    width: 880px;
    height: 680px;
    margin-top: 150px;
    padding-left: 500px;
}

#canvas {
    position: absolute;
    top: 150px;
    width: 880px;
    height: 680px;
    padding-left: 500px;
    z-index: 2;
}

.avatar {
    border-radius: 20px;
    border-color: white;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.filter {
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    ;
    padding-left: 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 50px;
    cursor: pointer;
    float: left;
}

.scroll {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 80vw;
    margin-top: 900px
}

.float {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 80px;
    background-color: black;
    color: #e4372a;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.my-float {
    margin-top: 22px;
}





/* Demo Purpose Only*/

#page {
    display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-image: url("https://media.giphy.com/media/RgzryV9nRCMHPVVXPV/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
}
